body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin:0;
    font-family:Arial;
}

.container{
    width:80%;
}


.navbar{
    display:flex;
    justify-content:space-around;
    background:#66b0f1;
    padding:10px;
    border-radius:20px;
    align-items:center;
}

#logo{
    width:40px;
    cursor:pointer;
}

/* SECTIONS */
.content,.homecontent{
    display:none;
    text-align:center;
    margin-top:20px;
}

#home{
    display:block;
}


.form-group{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    margin:20px 0;
}

input{
    width:250px;
    padding:8px;
}


table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

td,th{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}

button{
    padding:6px 10px;
    cursor:pointer;
}