body { display: flex; align-items: center; flex-direction: column; background-color: white; font-family: 'Segoe UI', sans-serif; padding-top: 20px; }
.navbar { display: flex; justify-content: space-evenly; width: 85%; background-color: #66b0f1; border-radius: 45px; padding: 10px; align-items: center; }

/* The Logo Requirement */
#logo { width: 50px; cursor: pointer; }

.navbarbuttons { background-color: rgba(255, 255, 255, .3); border: none; width: 100px; border-radius: 45px; color: white; cursor: pointer; height: 30px; }
.content, .homecontent { width: 80%; margin-top: 50px; }
.contenttitle, .label, .btns, .splash { color: #66b0f1; }
.label { display: inline-block; width: 150px; font-weight: bold; margin-top: 10px; }
.field { width: 250px; padding: 5px; margin-top: 10px; }
.btns { cursor: pointer; border: 1px solid #66b0f1; background: white; padding: 5px 15px; margin-top: 15px; }
#btncontainer { display: flex; gap: 20px; }
table th, table td { padding: 10px; border: 1px solid #66b0f1; text-align: left; }
